# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencias
node_modules/

# Builds
frontend/build/
bff/dist/

# Base de datos local
bff/database.sqlite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# IDE
.vscode/
